* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

/* shared code start */
:root {
    --first-color: #E5547310;
    --button-color: #E55473;
    /* text color */
    --text-color: #272727;
    --text-two-color-: #27272760;
}

/* margin */
.hero-banner-container,
.follower-cards,
.emoji-container,
.offer,
.gallery,
.subscribe-container {
    margin: 0 100px;
    margin-bottom: 180px;
}

/* button code start */
.btn {
    padding: 20px 45px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

/* button code end */

/* Heading section code start */
.heading-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-section>h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 900;
    margin-bottom: 24px;
}

.heading-section>p {
    max-width: 600px;
    line-height: 30px;
    font-size: 1.125rem;
    color: var(--text-two-color-);
    margin-bottom: 48px;
}

/* Heading section code end */

/* shared code end */
header {
    background-color: var(--first-color);
}


.hero-banner-text h1 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 32px;
}

.hero-banner-text p {
    max-width: 635px;
    font-size: 1.125rem;
    line-height: 30px;
    color: var(--text-two-color-);
    margin-bottom: 32px;
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-banner-img img {
    width: 100%;
    position: bottom;
}

/* follower section design code start */
.card-pink {
    text-align: center;
    align-items: end;
    justify-content: space-between;
    gap: 24px;
    display: flex;
}

.up-round {
    padding: 100px 40px 0px 40px;
    background-color: #A7216215;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.up-round-two {
    padding: 100px 20px 51px 20px;
    background-color: #0597A015;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.up-round-three {
    padding: 100px 76px 0px 76px;
    background-color: #477D1115;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.card p a {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);

}

/* follower section design code end */


.emoji {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    background-color: #27272705;
    border-radius: 8px;
    column-gap: 20px;
    padding: 86px 175px;
}

.emoji-card {
    text-align: center;
}

.emoji-card img {
    margin-bottom: 24px;
}

.emoji-card p {
    font-size: 18px;
    color: var(--text-two-color-);
    text-wrap: nowrap;
    font-weight: 600;
}

/* offer section design start */
.offer {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.offer-container {
    background-color: #E5547310;

}

.offer-text {
    text-align: center;
}

.offer-text h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 24px;
    color: var(--text-color);
}

.offer-text h1 span {
    color: #E55473;
}

.offer-text p {
    max-width: 600px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
    color: var(--text-two-color-);
}

/* offer section design end */
/* gallery section code start */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-content: center; */
    justify-content: center;
    /* justify-items: center; */
    column-gap: 24px;
}

/* gallery section code end */
/* subscribe section code start */
.subscribe-container {
    padding: 120px 290px;
    background: url(./Asset/last.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe h3 {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.subscribe p {
    font-size: 18px;
    color: var(--text-two-color-);
    margin-bottom: 48px;
}

.input {
    display: flex;
    align-items: center;
    gap: 16px;
}

.subscribe .input input[type="email"] {
    padding: 18px 22px;
    outline: none;
    border: none;
    width: 700px;
    color: var(--text-two-color-);
    border-radius: 8px;
    font-weight: 600;
}

.subscribe .input .btn-sub {
    padding: 18px 31px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    /* font-size: 1.25rem; */
    color: white;
    font-weight: 600;
    border-radius: 8px;
}

/* subscribe section code end */
/* footer section code start */
footer {
    background-color: #111010;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 130px 0;
    text-align: center;

}

.footer h2 {
    color: var(--button-color);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.footer h2 span {
    color: white;
}

.footer p {
    width: 625px;
    line-height: 30px;
    font-size: 18px;
}

.footer .copy {
    color: #ffffff40;
}

/* footer section code end */

/* responsive design code start */


/* Extra large device code start */
@media screen and (max-width:1200px) {
    .hero-banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-banner-img {
        margin-bottom: 80px;
    }

    .hero-banner-text button {
        margin-bottom: 50px;
    }

    .card-pink {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .emoji {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        column-gap: 0;
        padding: 10px 0;
    }

    .offer {
        flex-direction: column-reverse;
        padding-top: 50px;
    }

    .gallery {
        row-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .input {
        flex-direction: column;
    }

    .subscribe .input input[type="email"] {
        width: 500px;
    }

}

/* Extra large device code end */

/* Medium device code start */

@media screen and (max-width:768px) {
    .gallery {
        row-gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    .input {
        flex-direction: column;
    }

    .subscribe .input input[type="email"] {
        width: 300px;
    }
}

/* Medium device code end */
/* responsive design code end */