* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

/* shared code start */
:root {
    --first-color: #E5547310;
    --button-color: #E55473;
    /* text color */
    --text-color: #272727;
    --text-two-color-: #27272760;
}

/* margin */
.hero-banner-container,
.follower-cards,
.emoji-container {
    margin: 0 100px;
    margin-bottom: 180px;
}

/* button code start */
.btn {
    padding: 20px 45px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

/* button code end */

/* Heading section code start */
.heading-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-section>h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 900;
    margin-bottom: 24px;
}

.heading-section>p {
    max-width: 600px;
    line-height: 30px;
    font-size: 1.125rem;
    color: var(--text-two-color-);
    margin-bottom: 48px;
}

/* Heading section code end */

/* shared code end */
header {
    background-color: var(--first-color);
}


.hero-banner-text h1 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 32px;
}

.hero-banner-text p {
    max-width: 635px;
    font-size: 1.125rem;
    line-height: 30px;
    color: var(--text-two-color-);
    margin-bottom: 32px;
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-banner-img img {
    width: 100%;
    position: bottom;
}

/* follower section design code start */
.card-pink {
    text-align: center;
    align-items: end;
    justify-content: space-between;
    gap: 24px;
    display: flex;
}

.up-round {
    padding: 100px 40px 0px 40px;
    background-color: #A7216215;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.up-round-two {
    padding: 100px 20px 51px 20px;
    background-color: #0597A015;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.up-round-three {
    padding: 100px 76px 0px 76px;
    background-color: #477D1115;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.card p a {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);

}

/* follower section design code end */


.emoji {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    background-color: #27272705;
    border-radius: 8px;
    column-gap: 20px;
    padding: 86px 175px;
}

.emoji-card {
    text-align: center;
}

.emoji-card img {
    margin-bottom: 24px;
}

.emoji-card p {
    font-size: 18px;
    color: var(--text-two-color-);
    text-wrap: nowrap;
    font-weight: 600;
}

/* responsive design code start */


/* Extra large device code start */
@media screen and (max-width:1200px) {
    .hero-banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-banner-img {
        margin-bottom: 80px;
    }

    .hero-banner-text button {
        margin-bottom: 50px;
    }

    .card-pink {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .emoji {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        column-gap: 0;
        padding: 10px 0;
    }
}

/* Extra large device code end */

/* Medium device code start */

@media screen and (max-width:768px) {}

/* Medium device code end */

/* Small device code start */
@media screen and (max-width:768px) {}

/* Small device code end */

/* responsive design code end */